<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inventory Report</title>

<style>
.tableCls {
	border: none !important;
}

tr {
	border: none;
}

tr th {
	style width: 33%;
	border-bottom: 2px solid #000;
}

td {
	border-right: 1px solid #000;
}

table,th {
	border-collapse: collapse;
}

th {
	text-align: left;
}
</style>
</head>
<body>
	<div style="padding-top: 30px">
		<p style="width: 150px" align="left">
			REPORT:CGS06041<br> USA<br>DATE: 12/01/15<br>
			&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FINAL<br>
		</p>
		<p align="center" font-size="55px"
			style="width: 100%; margin-top: -7%">
			SELLING PAINT STORES<br>
			<r> INVENTORY ANALYSIS REPORT<br>
			DIVISION/AREA/DISTRICT/STORE LEVEL REPORT<br>
			NOVEMBER 01,2015<br>
		</p>
		<p align="right" STYLE="margin-top: -70px">
			PAGE:3<br>TIME:16:30:45<br>FINAL
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		</p>
		<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIV:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;01
			MID WESTERN DIVISION&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			ARER:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 01 M/W EAST AREA
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			DIST: 05COLUMBUS
			DST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			STORE: 1059 COLUMBS-FIFTH AVE</P>
	</div>
	<table class="tableCls">
		<tr>
			<td class="tableCls" width="1%" valign="top">
				<table class="tableCls" height="100%">
					<tr>
						<td class="tableCls">
							<table class="tableCls">
								<tr>
									<th class="tableCls">&nbsp;&nbsp;&nbsp;</th>
								</tr>
						
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls"><b>1</b></td>
								</tr>
								<tr>
									<td class="tableCls">2</td>
								</tr>
								<td class="tableCls">&nbsp;</td>
								<tr>
								</tr>
								<tr>
									<td class="tableCls">3</td>
								</tr>
								<tr>
									<td class="tableCls">4</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="tableCls">
							<table class="tableCls">
								<tr>
									<td class="tableCls">5</td>

								</tr>
								<tr>
									<td class="tableCls">5a</td>

								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>

								</tr>
								<tr>
									<td class="tableCls">6</td>

								</tr>
								<tr>
									<td class="tableCls">7</td>

								</tr>
								<tr>
									<td class="tableCls">8</td>
								</tr>

								<tr>
									<td class="tableCls">9</td>

								</tr>
								<tr>
									<td class="tableCls">10</td>

								</tr>
								<tr>
									<td class="tableCls">11</td>

								</tr>
								<tr>
									<td class="tableCls">12</td>

								</tr>
								<tr>
									<td class="tableCls">13</td>

								</tr>
								<tr>
									<td class="tableCls">14</td>
								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">15</td>
								</tr>
								<tr>
									<td class="tableCls">15a</td>
								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">16</td>
								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">17</td>
								</tr>
								<tr>
									<td class="tableCls">18</td>
								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">19</td>
								</tr>
								<tr>
									<td class="tableCls">19a</td>

								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">20</td>
								</tr>
								<tr>
									<td class="tableCls">20a</td>
								</tr>
								<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableCls">21</td>
								</tr>
								<tr>
									<td class="tableCls">22</td>
								</tr>
														
								<tr>
									<td class="tableCls">23</td>
								</tr>
								<tr>
									<td class="tableCls">24</td>
								</tr>
							
								<tr>
									<td class="tableCls">25</td>
								</tr>
									<tr>
									<td class="tableCls">&nbsp;</td>
								</tr>
								<tr>				
									<td class="tableCls">26</td>			
									</tr>				
									<tr>				
									<td class="tableCls"> 27 </td>		
									</tr> 

							</table>
						</td>
					</tr>
				</table>
			</td>
			<td width="99%" class="tableCls">
				<table border="1px" width="100%">
					<tr>
						<td>
							<table>
								<tr>
									<th style="width: 33%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DESCRIPTION</th>
									<th style="width: 8.37%">&nbsp;PAINT</th>
									<th style="width: 8.37%">&nbsp;BRUSHES &amp; ROLLERS</th>
									<th style="width: 8.37%">&nbsp;ASSOC PRODUCTS</th>
									<th style="width: 8.37%">&nbsp;FLOOR COVERING</th>
									<th style="width: 8.37%">&nbsp;SPRAY EQUIPMENT</th>
									<th style="width: 8.37%">&nbsp;WALL COVERING</th>
									<th style="width: 8.37%">&nbsp;WINDOW TREATMENT</th>
									<th style="width: 8.37%">&nbsp;TOTAL</th>
								</tr>

								<tr ng-repeat="report in reportlist.paint track by $index">
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19"> 
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp&nbsp{{reportlist.description[$index]}}
									</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.paint[$index]}}</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.brush[$index]}}
									</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.assocprod[$index]}}
									</td>

									<td><br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.floor[$index]}}
									</td>
									<td><br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.spray[$index]}}
									</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.wall[$index]}}
									</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.windowtreat[$index]}}
									</td>
									<td>
									<br ng-if="$index==2">
									<br ng-if="$index==16">
									<br ng-if="$index==18">
									<br ng-if="$index==19">
									<br ng-if="$index==21">
									<br ng-if="$index==23">
									<br ng-if="$index==25">
									<br ng-if="$index==30">
									&nbsp&nbsp{{reportlist.paint[$index]}}
									</td>
								</tr>
							</table>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>

</body>
</html>