<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inventory Report</title>

<style>
.tableCls {
	border: none !important;
}

.tableSerialCls {
	border: none !important;
	font-weight: bold;
	text-align: right;
}

tr {
	border: none;
}

th {
	style width: 33%;
	border-bottom: 2px solid #000;
}

td {
	border-right: 1px solid #000;
}

.tdAlign {
	text-align: right;
	padding-right: 10px;
}

.tddescAlign {
	padding-left: 10px;
}

table,th {
	border-collapse: collapse;
}

th {
	text-align: left;
}
</style>
</head>
<body>
	<div style="padding-top: 30px">
		<p style="width: 150px" align="left">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REPORT:CGS06041<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE: 12/01/15<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FINAL<br>
		</p>
		<p align="center" font-size="55px"
			style="width: 100%; margin-top: -7%">
			SELLING PAINT STORES<br>
			<r> INVENTORY ANALYSIS REPORT<br>
			DIVISION/AREA/DISTRICT/STORE LEVEL REPORT<br>
			NOVEMBER 01,2015<br>
		</p>
		<p align="right" STYLE="margin-top: -70px">
			PAGE:3<br>TIME:16:30:45<br>FINAL
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		</p>
		<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIV:&nbsp;&nbsp;
			01 MID WESTERN DIVISION&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			AREA:&nbsp;&nbsp; 01 M/W EAST AREA
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			DIST: 05COLUMBUS
			DST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STORE: 1059
			COLUMBS-FIFTH AVE</P>
	</div>
	<table class="tableCls">
		<tr>
			<td class="tableSerialCls" width="1%" valign="top">
				<table class="tableSerialCls" height="100%">
					<tr>
					<tr>
						<td class="tableSerialCls"></td>
					</tr>
					<tr>
						<td class="tableSerialCls"
							style="padding-top: 45px !important; height: 22px !important;">1</td>
					</tr>
					<tr>
						<td class="tableSerialCls" style="padding-top: 2px !important;">2</td>
					</tr>
					<td class="tableSerialCls">&nbsp;</td>
					<tr>
					</tr>
					<tr>
						<td class="tableSerialCls" style="padding-top: 3px !important;">3</td>
					</tr>
					<tr>
						<td class="tableSerialCls">4</td>
					</tr>


					<tr>
						<td class="tableSerialCls">
							<table class="tableSerialCls">
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">5</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">
										5a</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 5px !important;">6</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 1px !important;">7</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">8
									</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 1px !important;">9</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 1px !important;">10</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">11</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">12</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">13</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">14</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">15</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 0px !important;">15a</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls">16</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 1px !important;">17</td>
								</tr>
								<tr>
									<td class="tableSerialCls">18</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">19</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 2px !important;">19a</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls">20</td>
								</tr>
								<tr>
									<td class="tableSerialCls">20a</td>

								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>


								<tr>
									<td class="tableSerialCls">21</td>
								</tr>
								<tr>
									<td class="tableSerialCls">22</td>
								</tr>

								<tr>
									<td class="tableSerialCls" style="padding-top: 7px !important;">23
									</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: px !important;">24
									</td>
								</tr>
								<tr>
									<td class="tableSerialCls" style="padding-top: 1px !important;">25</td>
								</tr>
								<tr>
									<td class="tableSerialCls">&nbsp;</td>
								</tr>
								<tr>
									<td class="tableSerialCls">26</td>
								</tr>
								<tr>
									<td class="tableSerialCls">27</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td width="100%" class="tableCls">
				<table border="1px" width="100%">
					<tr>
						<td>
							<table width="100%">
								<tr>
									<th style="width: 33%">DESCRIPTION</th>
									<th style="width: 8.37%">PAINT</th>
									<th style="width: 8.37%">BRUSHES &amp; ROLLERS</th>
									<th style="width: 8.37%">ASSOC PRODUCTS</th>
									<th style="width: 8.37%">FLOOR COVERING</th>
									<th style="width: 8.37%">SPRAY EQUIPMENT</th>
									<th style="width: 8.37%">WALL COVERING</th>
									<th style="width: 8.37%">WINDOW TREATMENT</th>
									<th style="width: 7.37%">TOTAL</th>
								</tr>
							</table>
							<table width="100%">
								<tr ng-repeat="report in reportlist.paint track by $index" sty>
									<td width="100%">
										<table ng-if="$index < 27" width="100%" border="0px">

											<tr style="height: 22px !important;">
												<td class="tddescAlign" style="width: 33%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">
													{{reportlist.description[$index]}}</td>
												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.paint[$index]}}</td>
												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.brush[$index]}}
												</td>
												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.assocprod[$index]}}
												</td>

												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.floor[$index]}}
												</td>
												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.spray[$index]}}</td>
												<td class="tdAlign"><br ng-if="$index==2"> <br
													ng-if="$index==16"> <br ng-if="$index==18"> <br
													ng-if="$index==19"> <br ng-if="$index==21"> <br
													ng-if="$index==23"> <br ng-if="$index==25"> <br
													ng-if="$index==30">{{reportlist.wall[$index]}}</td>
												<td class="tdAlign" style="width: 8.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.windowtreat[$index]}}
												</td>
												<td class="tdAlign" style="width: 7.37%"><br
													ng-if="$index==2"> <br ng-if="$index==16"> <br
													ng-if="$index==18"> <br ng-if="$index==19"> <br
													ng-if="$index==21"> <br ng-if="$index==23"> <br
													ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.totalList[$index]}}
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table border="1px" width="100%" style="margin-top: 2px">
					<tr>
						<td>
							<table border="1px" width="100%" style="margin-top: 2px">
								<tr>
									<td>
										<table width="100%">
											<tr ng-repeat="report in reportlist.paint track by $index"
												sty>
												<td width="100%">
													<table ng-if="$index >= 27" width="100%" border="0px">

														<tr>
															<td class="tddescAlign" style="width: 33%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">
																{{reportlist.description[$index]}}</td>
															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.paint[$index]}}</td>
															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.brush[$index]}}
															</td>
															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.assocprod[$index]}}
															</td>

															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.floor[$index]}}
															</td>
															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.spray[$index]}}</td>
															<td class="tdAlign"><br ng-if="$index==2"> <br
																ng-if="$index==16"> <br ng-if="$index==18"> <br
																ng-if="$index==19"> <br ng-if="$index==21"> <br
																ng-if="$index==23"> <br ng-if="$index==25"> <br
																ng-if="$index==30">{{reportlist.wall[$index]}}</td>
															<td class="tdAlign" style="width: 8.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.windowtreat[$index]}}
															</td>
															<td class="tdAlign" style="width: 7.37%"><br
																ng-if="$index==2"> <br ng-if="$index==16"> <br
																ng-if="$index==18"> <br ng-if="$index==19"> <br
																ng-if="$index==21"> <br ng-if="$index==23"> <br
																ng-if="$index==25"> <br ng-if="$index==30">{{reportlist.totalList[$index]}}
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>